<?xml version="1.0" encoding="utf-8"?>
<manifest package="fm.last.android"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="63"
          android:versionName="1.9.9.2">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.WRITE_CONTACTS" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.READ_CALENDAR" />
	<uses-permission android:name="android.permission.WRITE_CALENDAR" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<uses-feature
		android:name="android.hardware.location"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.wifi"
		android:required="false" />

	<supports-screens
		android:anyDensity="true"
		android:largeScreens="true"
		android:normalScreens="true"
		android:smallScreens="true"
		android:xlargeScreens="true" />

	<application
		android:name="LastFMApplication"
		android:allowBackup="false"
		android:icon="@drawable/icon"
		android:installLocation="internalOnly"
		android:label="@string/app_name"
		android:theme="@style/BaseTheme">

		<activity
			android:name="LastFm"
			android:configChanges="keyboardHidden">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".activity.SignUp">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".activity.Preferences"
			android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".activity.AccountFailActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.AccountAccessPrompt"
			android:theme="@android:style/Theme.Dialog">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<receiver android:name=".scrobbler.MusicIntentReceiver">
			<intent-filter>
				<action android:name="fm.last.android.metachanged" />
				<action android:name="fm.last.android.playstatechanged" />
				<action android:name="fm.last.android.playbackcomplete" />
				<action android:name="fm.last.android.playbackpaused" />
				<action android:name="fr.outadev.lastfm.scrobb.scrobbler.FLUSH" />
			</intent-filter>
		</receiver>
		<receiver android:name=".scrobbler.AndroidMusicIntentReceiver">
			<intent-filter>
				<action android:name="com.android.music.playstatechanged" />
				<action android:name="com.android.music.playbackcomplete" />
				<action android:name="com.android.music.metachanged" />
				<action android:name="com.android.music.queuechanged" />
				<action android:name="com.htc.music.metachanged" />
				<action android:name="com.htc.music.playbackcomplete" />
				<action android:name="com.htc.music.playstatechanged" />
			</intent-filter>
		</receiver>
		<receiver android:name=".scrobbler.ScrobbleDroidIntentReceiver">
			<intent-filter>
				<action android:name="net.jjc1138.android.scrobbler.action.MUSIC_STATUS" />
			</intent-filter>
		</receiver>
		<receiver android:name=".scrobbler.SLSIntentReceiver">
			<intent-filter>
				<action android:name="com.adam.aslfms.notify.playstatechanged" />
			</intent-filter>
		</receiver>

		<service
			android:name=".scrobbler.ScrobblerService"
			android:label="@string/scrobbler_label"
			android:process=":scrobbler" />

	</application>
</manifest>
