<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="fm.last.android"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:name=".ScrobbApplication"
		android:allowBackup="false"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/BaseTheme">

		<activity
			android:name=".MainActivity"
			android:configChanges="keyboardHidden"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".activity.SignUp"
			android:label="@string/signup_label">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity
			android:name=".activity.Preferences"
			android:label="@string/prefs_label">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<receiver android:name=".scrobbler.MusicIntentReceiver">
			<intent-filter>
				<action android:name="fm.last.android.metachanged" />
				<action android:name="fm.last.android.playstatechanged" />
				<action android:name="fm.last.android.playbackcomplete" />
				<action android:name="fm.last.android.playbackpaused" />
				<action android:name="fr.outadev.lastfm.scrobb.scrobbler.FLUSH" />
			</intent-filter>
		</receiver>
		<receiver android:name=".scrobbler.AndroidMusicIntentReceiver">
			<intent-filter>
				<action android:name="com.android.music.playstatechanged" />
				<action android:name="com.android.music.playbackcomplete" />
				<action android:name="com.android.music.metachanged" />
				<action android:name="com.android.music.queuechanged" />
				<action android:name="com.htc.music.metachanged" />
				<action android:name="com.htc.music.playbackcomplete" />
				<action android:name="com.htc.music.playstatechanged" />
			</intent-filter>
		</receiver>
		<receiver android:name=".scrobbler.ScrobbleDroidIntentReceiver">
			<intent-filter>
				<action android:name="net.jjc1138.android.scrobbler.action.MUSIC_STATUS" />
			</intent-filter>
		</receiver>
		<receiver android:name=".scrobbler.SLSIntentReceiver">
			<intent-filter>
				<action android:name="com.adam.aslfms.notify.playstatechanged" />
			</intent-filter>
		</receiver>

		<service
			android:name=".scrobbler.ScrobblerService"
			android:label="@string/scrobbler_label"
			android:process=":scrobbler" />

	</application>
</manifest>
